.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

  .MuiToggleButtonGroup-root .Mui-disabled{
    color: #bdbdbd !important;
  }  



h1, h2, h3, h4, h5, h6, p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}


.bbLogo{
  width: 60pt;
}

.skaleLogo{
  height: 30pt;
}

.no-text-transform {
  text-transform: none !important;
}

.demoApp .MuiPaper-root{
  padding: 5pt !important;
  border-radius: 20px !important;
}

h4{
  font-weight: 600 !important;
}

.demoApp-light{
  background-color: #f2f2f2;
}


.demoApp-dark{
  background-color: #000000;
}

.demoApp-dark .MuiFormControlLabel-label{
  color: rgba(255, 255, 255, 0.7);
}

.MuiCardContent-root:last-child{
  padding-bottom: 16px !important;
}